In [5]:
import pandas as pd

In [3]:
import pickle
import glob
# save all tables one by one into separate sav files
tsv_files = glob.glob("*.tsv")
for file in tsv_files:
    print(file)
    pickle.dump(pd.read_table(file,sep="\t",low_memory=False, na_values=["\\N","nan"]),
                open(file[:-4]+".sav","wb"))

title.principals.tsv

In [8]:
DataFrame = pickle.load(open("title.principals.sav","rb"))
DataFrame.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0374658,cinematographer,director of photography,NaN
3,tt0000002,1,nm0721526,director,NaN,NaN
4,tt0000002,2,nm1335271,composer,NaN,NaN